.container {
  display: flex;
  flex-direction: column;
  max-width: 100% !important;
  align-items: center !important;
  padding: 0px;
  margin: 0px;
}

div.titleWrapper {
  min-width: 100% !important;
  background: #c2c2c2;
  display: flex;
  margin: 1rem auto;
  align-items: center !important;
  justify-content: center !important;
}

h1.title {
  text-align: center;
  color: #f9f9fa;
  font-weight: bolder;
  margin: 2rem auto 2rem auto;
}

.card-title {
  font-weight: bold;
  color: #ff8800;
  margin-top: 8px !important;
  letter-spacing: 4px;
}

.card-title-wrapper {
  border-bottom: #ff8800 2px solid;
}

.table {
  text-align: center;
  min-width: 800px;
  background-color: #f5f4f4 !important;
  border: 1px solid #e0eefd;
}

div.card {
  border: 1px solid #3f51b5 !important;
  width: 300px;
  margin-left: 2rem;
  background-color: #f5f4f4 !important;
  letter-spacing: 2px;
  font-weight: 700;
}

div.cardBody {
  min-height: 300px !important;
}

.parent {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
}

.navbar {
  margin-bottom: -15.6px;
}

button.checkoutButton {
  margin: 0 auto;
}

.item-name {
  color: #3f51b5;
}

.item-price {
  color: #ff8800;
  font-weight: 400;
}
