.container {
  display: flex;
  flex-direction: column;
  max-width: 100% !important;
  align-items: center !important;
}

div.titleWrapper {
  width: 100%;
  background: #c2c2c2;
  display: flex;
  margin: 1rem auto;
  align-items: center !important;
  justify-content: center !important;
}

h1.title {
  text-align: center;
  color: #007bff;
  margin: 2rem auto 2rem auto;
}

.table {
  text-align: center;
  min-width: 800px;
  background-color: #f5f4f4 !important;
  border: 1px solid #e0eefd;
}

div.card {
  border: 1px solid #007bff;
  width: 300px;
  margin-left: 2rem;
  background-color: #f5f4f4 !important;
}

div.cardBody {
  min-height: 300px !important;
}

h4 {
  margin-top: 8px !important;
  color: #ff7043 !important;
}

.parent {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
}
